

<html>
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<title>Best app ever</title>
    </head>


    <body>
	<div class="container">

	    <h1 style="padding: 50px 0px 50px 0px">Super secret info</h1>

	    <form action="index.php" method="POST">
		<div class="form-group">
		    <label for="login">Login:</label>
		    <input class="form-control" id="login" placeholder="Enter login" name="login">
		</div>
		
		<div class="form-group">
		    <label for="pwd">Password:</label>
		    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
		</div>
		
		<button type="submit" class="btn btn-default">Submit</button>
	    </form>
	</div>
    </body>
</html>
