

<html>
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<title>Best app ever</title>
    </head>


    <body>
	<div class="container">
	    <h1 style="padding: 50px 0px 50px 0px">Absolutely secret, special for {{login}}</h1>
	    <a href="index.php">< back</a>
	</div>
    </body>
</html>
